body {
    
}

/*#container {
    /*display:flex;
    border: 10px solid  goldenrod;
    align-items: baseline; /*Wes Bos video 7 - Flexbox*/
    /*min-height:100vh;
    flex-direction:column;
}*/

a:visited{
    color: #609;

}

/* ----- Navigation Styling ----- */

#nav {
    display: flex;
    /*border: 10px solid  goldenrod;*/                /*Colourful Borders*/
    min-height:9vh;
    justify-content:flex-end;
    align-items: baseline;
}

.nav_gm, .nav_img, .nav_elps, #nav_login{
    margin: 10px;
    color: black;
    text-decoration: none;
}

.nav_gm:hover, .nav_img:hover {
    text-decoration: underline;
}


.nav_list {
    border: none;
    background: transparent;
}

.img_size {
    max-width: 17px;
    height: 17px;
    opacity: 0.5;
}

.img_size:hover {
    opacity: 1;
}

.fst_li_mnu {
    position: absolute;
    /*border: 10px solid  mistyrose;*/                /*Colourful Borders*/
    display: none;
    min-height:9vh;
    flex-direction: column;
    min-width: 300px;
    box-shadow: 4px 8px 16px 4px rgba(0,0,0,0.2);
    background-color: #fff;
    width: max-content;
    overflow-y: scroll;
    right: 100px;
    top: 43px;
    
}

.nav_elps:hover .fst_li_mnu{
    display: block;
}

.column{
    display: flex;
    /*border: 10px solid  blue;*/                /*Colourful Borders*/
    min-height:9vh;
    align-items: baseline;
}

.li_opt{
    width: calc(33.3333333%);
    display: inline-block;
}

.opt_size { 
    max-width: 50px;
    height: 50px;
}

.li_opt a {
    text-align: center;
    /*clear:left;*/
}

.btn_more {
    clear: both;
    background-color: #f5f5f5;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
}

.div_more:hover .btn_more{
    display: none;
}

.div_more:hover .mnu_btn{
    display: block;
}

/* Newer More Button*/
.mnu_btn {
    position: relative;
    display: none;
    min-width: 150px;

}

#nav_login {
    color: white;
    background-color: #4285f4;
    font: bold 13px arial,sans-serif;
    text-decoration: none;
    border-radius: 2px;
    border: 1px solid #4285f4;
    line-height: 15px;
    padding: 6px 10px;
}


/* ----- Center Styling ----- */

#center {
    /*border: 10px solid  mediumorchid ;*/                /*Colourful Borders*/
    min-height:10vh;                                            /*Test later*/
}

.ctr_img {
    height: 92px;
    width: 272x;
    padding-top: 20px;
}
.ctr_img:hover {
    -webkit-filter: invert(100%);
}

.img_mic {
    padding: 0 8px;
    float: right;
    display:inline-block;
    top: -30px;
    position: relative;
}

.srch_bx {
    border-style: hidden;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    max-width: 40%;
    min-height: 40px;
}

.srch_in {
    width: 100%;
    border-radius: 2px;
    border: none;
    overflow: auto;
    outline: none;
    left: 0px;
    background: url(data:image/gif;base64,R0lGODlhAQABAID/AMDAwAAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw%3D%3D) transparent;
    font: 16px arial,sans-serif;
    display: inline-block;
    text-align: start;
}

.mic_set {
    background-size: 30px 30px;
    height: 100%;
    width: 26px;
}

.btn_sbmt {
    padding: 20px 0;
    min-height: 20px;
    display: flex;
    justify-content: center;
}

.btn_srch, .btn_lcky {
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 2px;
    color: #757575;
    font-family: arial,sans-serif;
    font-size: 1vw;
    font-weight: bold;
    margin: 11px 4px;
    padding: 0 16px;
    height: 36px;
}
    
.lang_diff{
    max-height: 28px;
    font-size: 0.9vw;
    margin-bottom: 24px;
    font-family: arial,sans-serif;
}

/* Footer Styling*/

#footer {
    /*display: flex;*/
    /*border: 10px solid  red;*/                /*Colourful Borders*/
    min-height: 10vh;
    /*flex-direction: column;*/
    /*justify-content: ;*/
    align-items: baseline;
    background-color: #f2f2f2;
    line-height: 40px; /*Specifies the line height.*/
    min-width: 400px;
    justify-content: flex-end;

}

.ctry {
    display: flex;
    margin-left: 30px;
    text-align: left;
    color: rgba(0,0,0,.54);
    border-top: 1px solid #e4e4e4;
    max-width: 75px;
}

.ctry_ftr {
    font-size: 1vw;
}

.opt_ftr {
    display: flex;
    justify-content:space-between;
    border:  1px solid #e4e4e4;
    /*border: 10px solid  yellow;*/                /*Colourful Borders*/
}

span.blft_ftr a, span.brght_ftr a, span.brght_stg a {
    text-decoration: none;
    color: #666;
    margin-left: 16px;
    font-size: 1vw;
}

.blft_ftr {
    /*border: 10px solid  purple;*/                /*Colourful Borders*/
}

.brght_ftr{
    margin-right: 30px;
    float: right;
    /*border: 10px solid  green;*/                /*Colourful Borders*/
}

.adv_ftr {
    padding: 0 16px;
    text-decoration: none;
    display: inline-block;
}

 .brght_stg {
    display: inline-block;
    position: relative;
  }

.dropbtn {
    padding-left: 27px;
    text-decoration: none;
    border: none;
    display: block;
    background-color: #f1f1f1;
    font-size: 1vw;
    color: #666;
    

}

/* Dropdown Content (Hidden by Default) */
.stg_menu {
    position: absolute;
    display: none;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    background-color: #f2f2f2;
    right: 10px;
}

.brght_stg:hover .stg_menu {
    display: block;
    bottom: 100%;
}

.dropbtn:hover, .adv_ftr:hover{
    text-decoration: underline;

}