body {
    
}

/*#container {
    display:flex;
    border: 10px solid  goldenrod;
    align-items: baseline; /*Wes Bos video 7 - Flexbox*/
    /*min-height:100vh;
    flex-direction:column;
}*/

a:visited{
    color: #609;

}

/* ----- Navigation Styling ----- */

#nav {
    display: flex;
    border: 10px solid  goldenrod;
    min-height:9vh;
    justify-content:flex-end;
    align-items: baseline;
}

.nav_gm, .nav_img, .nav_elps, #nav_login{
    margin: 10px;
    color: black;
    text-decoration: none;
}

.nav_gm:hover, .nav_img:hover {
    text-decoration: underline;
}


.nav_list {
    border: none;
    background: transparent;
}

.img_size {
    max-width: 17px;
    height: 17px;
    opacity: 0.5;
}

.img_size:hover {
    opacity: 1;
}

.fst_li_mnu {
    position: absolute;
    border: 10px solid  mistyrose;
    display: none;
    min-height:9vh;
    flex-direction: column;
    min-width: 300px;
    box-shadow: 4px 8px 16px 4px rgba(0,0,0,0.2);
    background-color: #fff;
    width: max-content;
    overflow-y: scroll;
    right: 100px;
    top: 43px;
    
}

.nav_elps:hover .fst_li_mnu{
    display: block;
}

.column{
    display: flex;
    border: 10px solid  blue;
    min-height:9vh;
    align-items: baseline;
}

.li_opt{
    width: calc(33.3333333%);
    display: inline-block;
}

.opt_size { 
    max-width: 50px;
    height: 50px;
}

.li_opt a {
    text-align: center;
    /*clear:left;*/
}

.btn_more {
    clear: both;
    background-color: #f5f5f5;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
}

.div_more:hover .btn_more{
    display: none;
}

.div_more:hover .mnu_btn{
    display: block;
}

#nav_login {
    color: white;
    background-color: #4285f4;
    font: bold 13px arial,sans-serif;
    text-decoration: none;
    border-radius: 2px;
    border: 1px solid #4285f4;
    line-height: 15px;
    padding: 6px 10px;
}


/* ----- Center Styling ----- */

#center {
    border: 10px solid  mediumorchid ;
    min-height:10vh;                                            /*Test later*/
}

.ctr_img {
    height: 92px;
    width: 272x;
    padding-top: 20px;
}
.ctr_img:hover {
    -webkit-filter: invert(100%);
}

.img_mic {
    padding: 0 8px;
    float: right;
    display:inline-block;
    top: -30px;
    position: relative;
}